.course-list-primary {
  padding-bottom: 50px;
  
  .home-popular {
    padding: 0 15px;
  }

  .card, #card2 {
    border: 1px solid $border-color1 !important;

    &:hover {
      box-shadow: 3px 5px 22px -1px rgba(204, 204, 204, 0.5) !important;
    }
  }
}
