/* Global Color */
$topbar-bg: #1f1e23;
$footer-bg: #1f1e23;
$copyright-bg: #1b1a1f;
$white-color: #ffffff;
$dark-color: #303030;
$accent-color: #fddf03;
$accent-color1: #ff961a;
$accent-color2: #fddf03;
$accent-color3: #ff8a15;

/* Text Color */
$text-color: #cccccc;
$text-color1: #606060;
$text-color2: #555555;
$text-color3: #777777;
$text-color4: #7b7b7d;
$text-color5: #bebebe;
$text-color6: #f36b6b;

/* Border Color */
$border-color: #5c5c5c;
$border-color1: #f0f0f0;
$border-color2: #cccccc;
$border-color3: #ebebeb;
