.single-course-right {
  padding: 60px 0 110px;

  &-post {
    margin-bottom: 115px;
  }

  &-title {
    color: $dark-color;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &-enroll {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-top: 30px;
    border-top: 1px solid $border-color1;

    &-box {
      display: flex;
      justify-content: space-between;
    }

    &-subject {
      font-size: 12px;
      font-weight: 600;
      color: $text-color3;
    }

    &-author {
      font-size: 12px;
      font-weight: 600;
      color: $text-color2;
    }

    &-price {
      font-size: 30px;
      font-weight: 600;
      color: $accent-color;
      margin-right: 20px;
    }

    &-wrap {
      display: flex;
      align-items: center;

      span {
        &:first-child {
          flex: 1;
          margin-right: 10px;
        }

        &:last-child {
          flex: 5;
        }
      }

      img {
        width: 100%;
      }
    }
  }

  &-tab {
    margin-top: 40px;

    &-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .star-plugin {
        width: 12%;
        margin-top: -12px;
      }
    }

    &-nav {
      margin-bottom: 20px;

      a {
        font-size: 20px;
        font-weight: 600;
        color: $text-color3;
        padding: 0;
        margin-right: 50px;
        @include hoverColor($accent-color1);
      }

      .active {
        color: $accent-color1;
      }
    }

    &-primary {
      border: 1px solid $border-color1;

      &-review {
        &-rating {
          padding: 40px 65px;
        }

        &-comment {
          border-top: 1px solid $border-color1;
          padding-bottom: 15px;
          margin: 0 65px;

          .media {
            padding: 26px 0;
            border-bottom: 1px solid $border-color1;

            &:last-child {
              border: none;
            }

            &-avatar {
              margin-right: 25px !important;
              width: 70px;
              height: 70px;
            }

            &-body {
              h5 {
                font-size: 15px;
                color: $dark-color;
                line-height: 24px;
                font-weight: 600;
                margin-bottom: 10px;
              }

              p {
                font-size: 14px;
                color: $text-color3;
                line-height: 30px;
                margin-top: 10px;
              }
            }
          }
        }
      }

      &-info {
        padding: 50px 30px;

        .media {
          img {
            width: 170px;
            height: 220px;
            margin-right: 30px !important;
          }

          &-social {
            margin: 0 !important;

            a {
              color: $text-color;
              font-size: 18px;
              margin-right: 20px;
              @include hoverColor($accent-color1);
            }
          }

          &-content {
            p {
              font-size: 14px;
              color: $text-color3;
              margin: 20px 0;
              line-height: 24px;
            }
          }

          &-top {
            border-bottom: 1px solid $border-color1;
            padding-bottom: 25px;

            h5 {
              color: $accent-color1;
              font-weight: 600;
              font-size: 14px;
              margin-bottom: 10px;
            }

            p {
              color: $text-color3;
              font-size: 12px;
            }
          }
        }
      }

      &-content {
        padding: 40px 30px;

        h5 {
          font-size: 14px;
          font-weight: 600;
          color: $text-color2;
        }

        p {
          color: $text-color3;
          font-size: 14px;
          margin: 30px 0;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &-topbar {
        display: flex;
        justify-content: space-between;
        padding: 50px 0px;
        margin: 0 30px;
        border-bottom: 1px solid $border-color1;
      }

      &-topbar-box {
        display: flex;

        span {
          &:first-child {
            margin-right: 30px;

            img {
              width: 100%;
            }
          }

          &:last-child {
            p {
              &:nth-child(1) {
                font-size: 12px;
                font-weight: 600;
                color: $text-color3;
              }

              &:nth-child(2) {
                font-size: 14px;
                font-weight: 600;
                color: $text-color2;
              }
            }
          }
        }
      }
    }
  }
}
