.home-chart {
    background: url('../img/image/home3/chart-bg.png') no-repeat center;
    background-size: cover;
    padding: 210px 0;

    &-wrap {
      display: flex;
      justify-content: space-between;


    }

    &-wrap-box {
      &:hover {
        .home-chart-wrap-box-content {
          background: rgba(white,0.2);
          border-width: 10px;
          border-color: rgba(white,0.5);
        }
      }
    }

    &-wrap-box-content {
      width: 265px;
      height: 265px;
      border: 20px solid rgba(white,0.2);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      transition: all .2s ease-in-out;

      span {
        color: $white-color;
        font-weight: 500;

        &:nth-child(1) {
          font-size: 50px;

        }

        &:nth-child(2) {
          font-size: 14px;

        }
      }
    }
  }
