.home-thumb {
  display: flex;
  align-items: center;
  background: url('../img/image/thumb-bg.png') no-repeat center;
  background-size: cover;
  height: 100vh;
  @include font('Poppins');


  &-content {
    color: $white-color;
    margin-top: 100px;

    h1 {
      font-size: 70px;
    }

    p {
      font-size: 30px;
      margin: 1rem 0 2.5rem;
    }

    .btn-one {
      margin-right: 1rem;
    }
  }
}

.home2 {
  .home-thumb {
    background: url('../img/image/home2/thumb-bg.png') no-repeat center;
    background-size: cover;
  }
}
